<div>チャットルームの一覧</div>
<table>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.customer.full_name %></td>
        <td><%= link_to "チャット", admin_room_path(room) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
