<!-- お問い合わせ一覧・チャットルーム一覧 -->
<div class="container">
  <div class="row mt-5">
    <div class='col-6 mx-auto '>
      <h4 class="text-center bg-light">お問い合わせ一覧</h4>
    </div>
    <div class='col-6 mx-auto border-left'>
      <h4 class="text-center bg-light">チャットルーム一覧</h4>
    </div>
  </div>
  <div class="row mt-3">

    <!-- お問い合わせ一覧 -->
    <%= render "contacts/index", contacts: @contacts %>

    <!-- チャットルーム一覧 -->
    <div class="col-6 mx-auto border-left">
      <% if @rooms.blank? %>
        <p class="text-center mt-3"><strong>メッセージはありません</strong></p>
      <% else %>
        <table class="table">
          <tbody>
            <% @rooms.each do |room| %>
              <tr>
                <td><%#= room.messages(created_at: :desc).created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <td class="text-center"><strong><%= room.customer.full_name %>さま</strong></td>
                <td class="text-center">
                  <% if @read_count > 0 %>
                    <button type="button" class="btn btn-primary position-relative">
                      チャット <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99 <span class="visually-hidden">未読メッセージ</span></span>
                    </button>
                  <% else %>
                    <%= link_to "チャット", admin_room_path(room), class: "border-primary rounded-primary btn text-primary" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @rooms %>
      <% end %>
    </div>
  </div>
</div>
