<div class="container">
  <div class="row mt-5">
    <div class='col-6 mx-auto '>
      <h4 class="text-center bg-light">お問い合わせ一覧</h4>
    </div>
    <div class='col-6 mx-auto border-left'>
      <h4 class="text-center bg-light">チャットルームの一覧</h4>
    </div>
  </div>
  <div class="row mt-3">
    <%= render "contacts/index", contacts: @contacts %>
    <div class="col-6 mx-auto border-left">
      <% if @rooms.blank? %>
        <p class="text-center mt-3"><strong>メッセージはありません</strong></p>
      <% else %>
        <table class="table">
          <tbody>
            <% @rooms.each do |room| %>
              <tr>
                <td><%#= room.messages(created_at: :desc).created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <td class="text-center"><strong><%= room.customer.full_name %>さま</strong></td>
                <td class="text-center"><%= link_to "チャット", admin_room_path(room), class: "border-primary rounded-primary btn text-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
