<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-50 h4 bg-light">カテゴリ</h2>

      <div class="row mt-5">
        <div class="col-7">
          <table class="table">
            <thead>
              <tr>
                <th colspan="2" class="pl-5 bg-light">カテゴリ</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <% @categories.each do |category| %>
            <div class="col-4">
              <li class="nav-item nav-link border rounded btn mr-5">
                <%#= link_to item_path(item.id) do %>
                  <%= image_tag category.image, size: "350x250", style: "background-size: cover; background-position: center;" %>
                  <%= category.category_name %>
                <%# end %>
              </li>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>