<div class="container">
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <h2 class="text-center bg-light h4 col-3">売上管理表</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th><%= Date.today.month %>年</th>
            <th>1月</th>
            <th>2月</th>
            <th>3月</th>
            <th>4月</th>
            <th>5月</th>
            <th>6月</th>
            <th>7月</th>
            <th>8月</th>
            <th>9月</th>
            <th>10月</th>
            <th>11月</th>
            <th>12月</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>修理依頼数</td>
            <td><%#=  %></td>
            <td><%#=  %></td>
            <td>退会済み</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>