<div class="col-6 mx-auto">
  <% if contacts.blank? %>
    <p class="text-center mt-3"><strong>お問い合わせはありません</strong></p>
  <% else %>
    <table class="table">
      <tbody>
        <% contacts.each do |contact| %>
          <tr>
            <td class="text-center"><%= contact.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td class="text-center"><strong><%= contact.name %>さま</strong></td>
            <td class="text-center"><%= link_to "内容確認", contact_path(contact), class: "border-primary rounded-primary btn text-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>