<div class='container'>
  <div class='d-flex justify-content-center align-items-center' style="height: 50vh;">
    <div>
      <h4>お問い合わせありがとうございます</br>
        スタッフからの連絡をお待ちください。
      </h4>
    </div>
  </div>
</div>