<div class="container">
  <div class="row mt-5">
    <div class='col-12 mx-auto'>
      <h2 class="text-center bg-light"><strong>カテゴリ</strong></h2>
    </div>
  </div>
  <div class="row my-5">
    <% categories.each do |category| %>
      <div class="col-4">
        <li class="nav-item nav-link border rounded btn rounded">
          <%= link_to category_path(category) do %>
            <%= image_tag category.image, size: "300x250", style: "background-size: cover; background-position: center;" %>
            <h5 class="my-2"><%= category.category_name %></h5>
          <% end %>
        </li>
      </div>
    <% end %>
  </div>
</div>