<!-- 選択したカテゴリの商品一覧 -->
<div class="container">
  <div class="row mt-5">
    <!-- カテゴリ検索(カテゴリ一覧) -->
    <%= render 'public/items/categories', categories: @categories %>
  </div>
  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <h3 class="text-center bg-light">
        <strong><%= @category.category_name %>一覧</strong>
        (全<%= @items.count %>件)
      </h3>
      <!-- 商品一覧 -->
      <%= render 'public/categories/show', items: @items %>
    </div>
  </div>
</div>