<!--会社概要-->
<div class="container">
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <h2 class="text-center bg-light"><strong>会社概要</strong></h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="table-active text-dark w-30">会社名</td>
            <td class="w-150">車椅子サービス</td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">代表者</td>
            <td class="w-150">守田</td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">住所</td>
            <td class="w-150">東京都港区芝浦00000-000</td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">電話番号</td>
            <td class="w-150">090-0000-0000</td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">email</td>
            <td class="w-150">aaa000@aaaaa.com</td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">営業日</td>
            <td class="w-150">月曜日～金曜日  9:00~18:00</td>
          </tr>
          <tr>
            <td class="table-active text-dark w-30">創立</td>
            <td class="w-150">1990年</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>