<div class="container">
  <div class="row">
    <div class="col-2">
      会社概要
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>会社名</td>
            <td>車椅子サービス</td>
          </tr>
          <tr>
            <td>代表者</td>
            <td>守田</td>
          </tr>
          <tr>
            <td>創立</td>
            <td>1992年</td>
          </tr>
          <tr>
            <td>住所</td>
            <td>和歌山市木ノ本00000-000</td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td>090-0000-0000</td>
          </tr>
          <tr>
            <td>email</td>
            <td>aaa000@aaaaa.com</td>
          </tr>
          <tr>
            <td>営業日</td>
            <td>月曜日～金曜日  9:00~18:00</td>
          </tr>
          <tr>
            <td>創立</td>
            <td>1992年</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>