<div class="container">
  <div class="row">
    <%#= render 'public/items/genres', genres: @genres %>
    <div class="col-9">
      車椅子のことならお任せください
      <%= link_to 'chatを始める', chat_path(user.id), class: "ml-3" %>
    </div>
  </div>
</div>