<div class="row mt-4">
  <% result.each do |item| %>
    <div class="col-4 my-4">
      <li class="nav-item nav-link border rounded btn rounded">
        <%= link_to item_path(item) do %>
          <%= image_tag item.image, style: "background-size: cover; background-position: center; width: 90%; height: 250px;" %>
          <p class="my-2 text-dark"><%= item.name %></p>
          <p class="my-2 text-dark">￥<%= item.with_tax_price.to_s(:delimited) %></p>
        <% end %>
      </li>
    </div>
  <% end %>
</div>