<div class="container">
  <% if @result.empty? %>
    <p>該当の商品はありませんでした</p>
  <% end %>
  <div class="row">
    <%= render 'public/items/categories', categories: @categories %>
    <div class="col-9">
      <h3><strong>商品一覧</strong>(全<%= @result.count %>件)</h3>
      <%= render 'result', result: @result %>
    </div>
  </div>
</div>