<div class="container">
  <div class="row mt-5">
    <% if @result.empty? %>
      <p>該当の商品はありませんでした</p>
    <% end %>
    <%= render 'public/items/categories', categories: @categories %>
  </div>
  <div class="row mt-5">
    <div class="col-12 mx-auto">
      <h3 class="text-center bg-light"><strong><%= @word %>一覧</strong>(全<%= @result.count %>件)</h3>
      <%= render 'result', result: @result %>
    </div>
  </div>
</div>