<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light d-inline-block">修理依頼履歴一覧</h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <table class="table table-borderless">
        <thead>
          <tr class="table-active text-dark">
            <th>修理依頼日時</th>
            <th>依頼者</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% repairs.each do |repair| %>
            <tr>
              <td>
                <%= link_to repair_path(repair) do %>
              　<%= repair.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %>
                <% end %>
              </td>
              <td><%= repair.customer.full_name %></td>
              <td><%= repair.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>