<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h4 class="text-center bg-light">修理依頼</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class='col-8 mx-auto'>
      <div class='d-flex justify-content-center align-items-center' style="height: 50vh;">
      <h4>申し訳ございません</br>
        修理依頼する際は新規登録かログインをしてください
      </h4>
      </div>
    </div>
  </div>
</div>