<!-- 修理依頼はログインをしてください -->
<div class="container">
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h4 class="text-center bg-light">修理依頼</h4>
    </div>
  </div>
  <div class='row my-5'>
    <div class='col-12 text-center'>
      <h4><strong>申し訳ございません<br>
        修理依頼する際は新規登録かログインをしてください
      </strong></h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-8 mx-auto text-center'>
      <%= image_tag '申し訳ございません.jpg', style: "width: 80%; height: 90%;" %>
    </div>
  </div>
</div>