<div class="container">
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <h4 class="text-center w-50 bg-secondary text-white">修理依頼</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      修理依頼をする際は新規登録かログインしてください
    </div>
  </div>
</div>