<!-- カラー編集 -->
<div class="container">
  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <h4 class="text-center bg-light">カラー編集</h4>
    </div>
  </div>
  <div class="mt-5">
    <div class="row">
      <div class="col-10">
        <%= render 'layouts/errors', obj: @color %>
        <%= form_with model: @color, url: admin_color_path(@color.id), method: :patch do |f| %>
          <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true} %>
        <% end %>
      </div>
    </div>
  </div>
</div>