<table class="table table-borderless">
  <tbody>
    <td><%= f.label :category_name, 'カテゴリ', class: "col-form-label" %></td>
    <td><%= f.text_field :category_name, class: "form-control col" %></td>
    <% if local_assigns[:edit_flag].present? %>
      <td><%= f.submit '変更を保存', class: "form-control btn btn-success col" %></td>
    <% else %>
      <td><%= f.submit '新規登録', class: "form-control btn btn-success col" %></td>
    <% end %>
  </tbody>
</table>