<div class="container">
  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <h4 class="text-center bg-light">シート生地編集</h4>
    </div>
  </div>
  <div class="mt-5">
    <div class="row">
      <div class="col-10">
        <%= render 'layouts/errors', obj: @cloth %>
        <%= form_with model: @cloth, url: admin_cloth_path(@cloth.id), method: :patch do |f| %>
          <%= render :partial => 'form', :locals => {:f => f, :edit_flag => true} %>
        <% end %>
      </div>
    </div>
  </div>
</div>