<div class="container">
  <div class="row mt-4">
    <div class="col-8 mx-auto">
      <h4 class="text-center bg-light">オーダーメイドの見積依頼履歴一覧</h4>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 mx-auto">
      <% if made_to_orders.present? %>
      <table class="table">
        <thead>
          <tr>
            <th class="table-active text-dark" style="width: 10%">見積依頼日</th>
            <th class="table-active text-dark" style="width: 20%">ステータス</th>
            <th class="table-active text-dark" style="width: 10%">詳細</th>
          </tr>
        </thead>
        <tbody>
          <% made_to_orders.each do |made_to_order| %>
            <tr class="align-middle">
              <td class="align-middle"><%= repair.created_at.strftime("%Y/%-m/%-d") %></td>
              <td class="align-middle">
                <% if made_to_order.status == "見積依頼中" %>
                  <p style="color: #fd7e14;"><%= made_to_order.status %></p>
                <% elsif made_to_order.status == "見積送信済み" %>
                  <p style="color: #28a745;"><%= made_to_order.status %></p>
                <% end %>
              </td>
              <td class="align-middle"><%= link_to "詳細", made_to_order_path(made_to_order), class: 'border-primary rounded-primary btn text-primary' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <h4 class="my-5 mx-auto text-center">オーダーメイドの見積依頼の履歴はありません。</h4>
      <% end %>
    </div>
  </div>
</div>