<div class="col-6 mx-auto">
  <% if made_to_order.blank? %>
    <p class="text-center mt-3"><strong>オーダーメイドはありません</strong></p>
  <% else %>
    <table class="table">
      <tbody>
        <% made_to_orders.each do |made_to_order| %>
          <tr>
            <td class="text-center"><%= made_to_order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
            <td class="text-center"><strong><%= made_to_order.name %>さま</strong></td>
            <td class="text-center"><%= link_to "内容確認", made_to_order_path(made_to_order), class: "border-primary rounded-primary btn text-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>