<div class='container'>
  <div class='row my-5'>
    <div class='col-12 text-center'>
      <h4><strong>オーダーメイド見積依頼いたしました<br>
        スタッフからの連絡をお待ちくださいませ
      </strong></h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-8 mx-auto text-center'>
      <%= image_tag 'ありがとうございます.png', style: "width: 80%; height: 90%;" %>
    </div>
  </div>
</div>