<div class='container'>
  <div class='row my-5'>
    <div class='col-12 text-center'>
      <h4><strong>ご注文頂き誠にありがとうございます<br>
        スタッフからの連絡をお待ちくださいませ
      </strong></h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-6 mx-auto text-center'>
      <%= image_tag 'ありがとうございます2.png', style: "width: 50%; height: 90%;" %>
    </div>
  </div>
</div>