<div class="col-12 mt-4">
  <div class="border rounded rounded">
    <table class="table">
      <thead class="text-center">
        <tr>
          <th colspan="6">カテゴリ</th>
        </tr>
      </thead>
      <tbody class="table">
        <tr>
          <% categories.each do |category| %>
            <td class="border-left border-right">
              <%= image_tag category.image, size: "40x30", class: "mr-3", style: "background-size: cover; background-position: center;" %>
              <%= link_to category.category_name, category_search_path(items: category.items.ids, category_word: category.category_name), style: "font-size: 8px;" %>
            </td>
          <% end %>
        <tr>
      </tbody>
    </table>
  </div>
</div>