<div style="background-color: #3A98B9;">
  <div class="container">
    <div class="text-center">
      <p class="mb-0" style="color: #FFFFFF;">&copy; 2023 車椅子サービス All Rights Reserved</p>
      <i class="fab fa-twitter-square" style="color: #FFFFFF;"></i>
      <i class="fab fa-instagram-square" style="color: #FFFFFF;"></i>
    </div>
  </div>
</div>